body {
  margin: 0;
  background: linear-gradient(121.91deg, #00000D -0.28%, #1C1F33 100%);
  opacity: 0.95;
  width: 1680px;
}

.characters-list div:not(:first-child) .first-player {
  margin-right: 160px;
}


.characters-list div:not(:first-child) .second-player .nick {
  left: 16px;
}

.characters-list div:not(:first-child) .second-player .skills {
  position: relative;
  left: 15px;
}
.characters-list div:not(:first-child) .second-player .abilities-row2 {
  right: 10px;
}
