body {
  margin: 0;
  width: 1680px;
}

.characters-list div:not(:first-child) .first-player {
  margin-right: 160px;
}

.characters-list div:not(:first-child) .second-player .skills {
  position: relative;
  left: 15px;
}
.characters-list div:not(:first-child) .second-player .abilities-row2 {
  right: 14px;
}

.characters-list div:not(:first-child) .second-player .stats-info {
  left: 8px;
}

.characters-list div:not(:first-child) .second-player .stats-name {
  left: 3px;
}

.characters-list > div:first-child .first-player .stats-name {
  left: 2px;
}

.characters-list div:not(:first-child) .second-player .header {
  padding-left: 20px;
}

.characters-list div:not(:first-child) .first-player .player-info {
  position: relative;
  right: 5px;
}

.characters-list div:not(:first-child) .first-player .skills {
  position: relative;
  right: 7px;
}

.characters-list > div:first-child .first-player .player-info {
  position: relative;
  left: 2px;
}

.characters-list > div:first-child .first-player .header {
  padding-right: 6px;
}

.characters-list > div:first-child .second-player .header {
  padding-left: 4px;
}

.characters-list div:not(:first-child)  .first-player .stats {
  position: relative;
  right: 3px;
}

.characters-list > div:first-child .first-player .stats {
  position: relative;
  left: 2px;
}

 .header .first-team-background {
  background: #0082B1;
  position: absolute;
  width: 344px;
  height: 36px;
  left: 312px;
  clip-path: polygon(0% 0%, 86% 0%, 96% 100%, 11% 100%);
}

.modal-container .first-team-name {
  position: absolute;
}

.modal-container .first-team-background {
  bottom: 3px;
  left: 45px;
  background: #0082B1;
  position: absolute;
  width: 344px;
  height: 36px;
  clip-path: polygon(0% 0%, 86% 0%, 96% 100%, 11% 100%);
}

.modal-container .first-team-name h2 {
  font-family: Work Sans,serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  position: absolute;
  left: 110px;
  width: 200px;
  margin: 0;
  z-index: 1;
  color: #FFFFFF;
}

.modal-container .second-team-name {
  position: absolute;
  width: 0;
  height: 0;
  right: 403px;
}

.modal-container .second-team-background {
  bottom: 3px;
  left: 0;
  background: #0082B1;
  position: absolute;
  width: 344px;
  height: 36px;
  clip-path: polygon(0% 0%, 86% 0%, 96% 100%, 11% 100%);
}

.modal-container .second-team-name h2 {
  font-family: Work Sans,serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  position: absolute;
  left: 64px;
  width: 200px;
  margin: 0;
  z-index: 1;
  color: #FFFFFF;
}



.modal-wrapper .modal {
  justify-content: space-between;
  height: 57px;
  width: 57px;
  position: relative;
}

.modal-wrapper #modal-skills-my-row {
  margin: 0 52px;
  bottom: 16px;
}

.modal-wrapper > .modal-container:first-child #modal-skills-my-row {
  margin: 0 71px;
}

.modal-wrapper #modal-skills-other-row {
  margin: 0 52px;
  top: 14px;
}

.modal-wrapper > .modal-container:first-child #modal-skills-other-row {
  margin: 0 71px;
}

.modal-container .abilities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-modal {
  position: relative;
  bottom: 6px;
  right: 9px;
}

.stats-modal div:first-child {
  margin-bottom: 10px;
}

.stats.other-row {
  top: 24px;
}

.modal-wrapper > .modal-container:first-child .stats-modal {
  left: 9px;
}

.modal-wrapper .stats-name {
  color: white;
  position: relative;
  top: 4px;
  right: 9px;
}

.modal-wrapper > .modal-container:first-child .stats-name {
  left: 9px;
}

.modal-wrapper .avatars {
  top: 76px;
  right: 4px;
}

.modal-wrapper .modal-container:first-child .avatars {
  top: 55px;
}

.modal-wrapper .modal-container:first-child .other-row .avatars {
  top: 61px;
  right: 1px;
}

.modal-wrapper .modal-container:first-child .my-row .avatars {
  top: 56px;
  right: 1px;
}

.modal-wrapper .modal-container:first-child .other-row img:nth-child(1) {
  top: 165px;
}
.modal-wrapper .modal-container:first-child .other-row img:nth-child(2) {
  top: 115px;
}
.modal-wrapper .modal-container:first-child .other-row img:nth-child(3) {
  top: 65px;
}

.modal-wrapper .modal-container .other-row img:nth-child(1) {
  top: 165px;
}
.modal-wrapper .modal-container .other-row img:nth-child(2) {
  top: 115px;
}
.modal-wrapper .modal-container .other-row img:nth-child(3) {
  top: 65px;
}

.modal-wrapper .modal-container .other-row .avatars {
  top: 61px;
}

.modal-wrapper .stats-name p {
  background: #1C1F33;
  width: 82px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Work Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 20px;
}

.modal-wrapper .stats-name p {
  margin-bottom: 10px;
}

.stats-name.other-row {
  top: 34px;
}

.modal-wrapper .role-modal {
  background: black;
  position: absolute;
  top: 70px;
  right: 220px;
}

.modal-wrapper > .modal-container:first-child .role-modal {
  left: 220px;
}

.modal-wrapper > .modal-container:first-child .my-row .roles-modal {
  left: 170px;
  top: 205px;
}

.modal-wrapper > .modal-container:first-child .other-row .roles-modal {
  left: 170px;
  top: 226px;
}

.roles-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 62px;
  position: absolute;
  right: 170px;
  height: 190px;
  top: 226px;
}
