body {
  margin: 0;
  width: 1680px;
}

.characters-list div:not(:first-child) .first-player {
  margin-right: 160px;
}


.characters-list div:not(:first-child) .second-player .nick {
  left: 16px;
}

.characters-list div:not(:first-child) .second-player .skills {
  position: relative;
  left: 15px;
}
.characters-list div:not(:first-child) .second-player .abilities-row2 {
  right: 14px;
}

.characters-list div:not(:first-child) .second-player .stats-info {
  left: 8px;
}

.characters-list div:not(:first-child) .second-player .stats-name {
  left: 3px;
}

.characters-list > div:first-child .first-player .stats-name {
  left: 2px;
}


.characters-list div:not(:first-child) .second-player .name {
  left: 60px;
}

.characters-list div:not(:first-child) .first-player .player-info {
  position: relative;
  right: 5px;
}

.characters-list div:not(:first-child) .first-player .skills {
  position: relative;
  right: 7px;
}

.characters-list > div:first-child .first-player .player-info {
  position: relative;
  left: 2px;
}

.characters-list div:not(:first-child) .first-player .name {
  right: 80px;
}

.characters-list > div:first-child .first-player .header p:first-child {
  right: 37px;
}

.characters-list .first-player .header p:last-child {
  right: 15px;
}

.characters-list div:not(:first-child)  .first-player .stats {
  position: relative;
  right: 3px;
}

.characters-list > div:first-child .first-player .stats {
  position: relative;
  left: 2px;
}
