body {
  margin: 0;
  width: 1680px;
}

.characters-list div:not(:first-child) .first-player {
  margin-right: 160px;
}


.characters-list div:not(:first-child) .second-player .nick {

}

.characters-list div:not(:first-child) .second-player .skills {
  position: relative;
  left: 15px;
}
.characters-list div:not(:first-child) .second-player .abilities-row2 {
  right: 14px;
}

.characters-list div:not(:first-child) .second-player .stats-info {
  left: 8px;
}

.characters-list div:not(:first-child) .second-player .stats-name {
  left: 3px;
}

.characters-list > div:first-child .first-player .stats-name {
  left: 2px;
}


.characters-list div:not(:first-child) .second-player .header {
  padding-left: 20px;
}

.characters-list div:not(:first-child) .first-player .player-info {
  position: relative;
  right: 5px;
}

.characters-list div:not(:first-child) .first-player .skills {
  position: relative;
  right: 7px;
}

.characters-list > div:first-child .first-player .player-info {
  position: relative;
  left: 2px;
}

.characters-list div:not(:first-child) .first-player .name {
}

.characters-list > div:first-child .first-player .header {
  padding-right: 6px;
}

.characters-list > div:first-child .second-player .header {
  padding-left: 4px;
}

.characters-list div:not(:first-child)  .first-player .stats {
  position: relative;
  right: 3px;
}

.characters-list > div:first-child .first-player .stats {
  position: relative;
  left: 2px;
}

